# Web & App Framework
streamlit==1.25.0
flask==2.3.5
flask-cors==4.1.1

# Data Handling
pandas==2.1.0
numpy==1.26.0
json5==0.9.14

# Visualization
plotly==5.18.0

# Machine Learning & Deep Learning
scikit-learn==1.3.0
tensorflow==2.14.0
sentence-transformers==2.2.2
faiss-cpu==1.7.4


# Database
pymongo==4.4.0

# Utilities
pickle5==0.0.12  # for backward compatible pickle
tqdm==4.66.0
